{# templates/account/index.html.twig #}
{% extends 'eti/blog/layout.html.twig' %}

{% block title %}Editing account{% endblock %}

{% block content %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <p>Editing account{{ "</br>" }}</p>
    <p> {{ form(form) }} </p>

{% endblock %}