{# templates/eti/blog/homepage.html.twig #}

{% extends 'eti/blog/layout.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <p> Welcome on ETI Blog Homepage! </p>
{% endblock %}